*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.iml
*.log
*.jks
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.keystore
.gradle
/local.properties
/gradle/wrapper
/.idea/caches
/.idea/dictionaries
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/tasks.xml
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/build
/captures
/signing
/bin
/gen
/out
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.externalNativeBuild
.cxx
*.ctxt
google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Version control
vcs.xml

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
# lint/reports/
